/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
   margin: 5px 0;
  background:#F7B1AB;
  background: linear-gradient(to right bottom, rgba(255, 255, 255,0.6), rgba(255,255,255,0.2));
  margin-left: 10px;
  margin-right: 10px;
}

.label {
  display: block;
  margin: 5px 15px;
}

.checkbox {
  background:#F7B1AB;
  background: linear-gradient(to right bottom, rgba(255, 255, 255,0.6), rgba(255,255,255,0.2));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.checkbox input {
  font-family: 'Poppins', sans-serif;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 3px 10px;
  color: rgba(0,0,0,.8);
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  border-radius: 2px;
  height: 30px;
  width: 100%;
}

.checkbox input:checked {
  background: #D8AA96;
  border: 1px solid rgba(0,0,0,.1);
  color: rgb(232, 229, 229);
  box-shadow: 0 1px 1px #0000002e;
  text-shadow: 0 1px 0px #79485f7a;
}

.checkbox input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
} */
